<%- include('../layouts/header.html') %>
    <div class="right-side">
        <div class="row">
            <div class="col-xs-6">
                <div class="top_heading">
                    <h3>Select Region</h3>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="top_heading text-right">
                    <a href="/users" class="btn btn-link">&laquo; Go back</a>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-6">
                        <div id="india" style="height: 600px; width: 900px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="/dist/d3.min.js"></script>
    <script src="/dist/topojson.v1.min.js"></script>
    <script src="/dist/dist/datamaps.ind.min.js"></script>
    <script>
        var ind = new Datamap({
            element: document.getElementById('india'),
            scope: 'ind',
            geographyConfig: {
                highlightBorderColor: '#bada55',
                popupTemplate: function (geography, data) {
                    return `<div class="hoverinfo">${geography.properties.name}</div>`
                },
                highlightBorderWidth: 3
            },
            setProjection: function (element) {
                var projection = d3.geo.mercator()
                    .center([78.9629, 23.5937])
                    .scale(1000);
                var path = d3.geo.path().projection(projection);
                return { path: path, projection: projection };
            },
            done: function (datamap) {
                datamap.svg.selectAll('.datamaps-subunit').on('click', function (geography) {
                    window.location.replace(`/user/${geography.properties.name}`);
                });
            }
        });
        ind.labels();
    </script>
    </body>

    </html>