<%- include('../layouts/header.html') %>
<div class="right-side">
    <div class="row">
        <div class="col-xs-12">
            <div class="top_heading">
                <h3>Payment Details</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="details">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="basic_details min_h">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p>Customer Name</p>
                                </div>
                                <div class="col-sm-3">
                                    <p>Johan Deo</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p>Contractor Name</p>
                                </div>
                                <div class="col-sm-3">
                                    <p>Johan</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p>Service</p>
                                </div>
                                <div class="col-sm-3">
                                    <p>Plumbing</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p>Price</p>
                                </div>
                                <div class="col-sm-3">
                                    <p>$10</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p>Status</p>
                                </div>
                                <div class="col-sm-3">
                                    <p>Completed</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p>Location</p>
                                </div>
                                <div class="col-sm-3">
                                    <p>f449 phase 8b mohali</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>